<div>
    <div class="box-header with-border">
        <h3 class="box-title">Wyszukaj produkt i przeprowadź proces ETL</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal loadForm">
        <div class="box-body">
            <div class="form-group">
                <label for="ID" class="col-sm-2 control-label">ID produktu</label>

                <div class="col-sm-3">
                    <input type="text" name="productid" class="form-control" id="ID" placeholder="Wprowadź ID produktu (Ceneo)">
                </div>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-warning loadDataTrigger "><b style="font-size:14px">E</b>xtract</button>
                    <button type="button" class="btn btn-warning transformTrigger disabled"><b>T</b>ransform </button>
                    <button type="button" class="btn btn-warning saveDataTrigger disabled"><b>L</b>oad</button>
                    <button style="margin-left:20px" type="button" class="btn btn-danger etlTrigger">Cały proces <b>ETL</b></button>
                </div>
            </div>


        </div>
    </form>
    <!-- /.box-body -->
    <div  class="box-footer">
        <div class="col-md-4">
            <div id ="extractData" class="modal-dialog" style="width: 100%;display:none;">
                <div class="modal-content"
                    style="box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.125) !important;">
                    <div class="modal-header">
                        <h4 class="modal-title">Dane o produkcie</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row box-body">
                            <div class="col-md-4">Produkt:</div>
                            <div class="col-md-8"><span id="product"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-4">Typ:</div>
                            <div class="col-md-8"><span id="type"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-4">Liczba opini:</div>
                            <div class="col-md-8"><span id="commentCount"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-12">Dane:</div>
                            <div class="col-md-12"><span id="specs"></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id ="transformData" class="modal-dialog" style="width: 100%;display:none;">
                <div class="modal-content"
                    style="box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.125) !important;">
                    <div class="modal-header">
                        <h4 class="modal-title">Przetworzone dane</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row box-body">
                            <div class="col-md-8">Liczba przetworzonych opini:</div>
                            <div class="col-md-4"><span id="ceneoCount"></span> </div>
                        </div>
                       <div class="row box-body">
                            <div class="col-md-8">Średnia ocena wszystkich opini:</div>
                            <div class="col-md-4"><span id="averageRating"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-8">Liczba opini autorów posiadających produkt:</div>
                            <div class="col-md-4"><span id="possesionCount"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-8">Większością opini produkt jest:</div>
                            <div class="col-md-4"><span id="finallyReference"></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id ="loadData" class="modal-dialog" style="width: 100%;display:none;">
                <div class="modal-content"
                    style="box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.125) !important;">
                    <div class="modal-header">
                        <h4 class="modal-title">Załadowano dane produktu</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row box-body">
                            <div class="col-md-8">Liczba dodanych opini:</div>
                            <div class="col-md-4"><span id="newCount"></span> </div>
                        </div>
                        <div class="row box-body">
                            <div class="col-md-8">Liczba wcześniej dodanych opini:</div>
                            <div class="col-md-4"><span id="untouchedCount"></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div class="modal error fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Wystąpił błąd</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row box-body">
                    <div class="col-md-4">Dane:</div>
                    <div class="col-md-8"><span id="errorData"></span> </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>