<div class="row">

    <div class="col-md-6">
        <?php if ($this->header): ?>
            <h2><?php echo $this->header ?></h2>
        <?php endif; ?>

        <?php if($this->saved): ?>
            <div class="box-body">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>	<i class="icon fa fa-check"></i> Zapisano!</h4>
                    Zapisano poprawnie
                </div>
            </div>
        <?php endif; ?>

        <?php if ($this->validationError): ?>
            <div class="box-body">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Błąd!</h4>
                    Wystąpił błąd w zapisie formularza. Proszę sprawdzić poprawność danych
                </div>
            </div>


        <?php endif; ?>




    <?php echo $this->form; ?>

    </div>

</div>

