<div class="">

    <h2>Uzytkownicy CMS</h2>

    <table cellspacing="0" cellpadding="0" class="table table-bordered table-striped customTable">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email </th>
                <th>Akcje </th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->list as $usr): ?>
            <tr>
                <td><?php echo $usr->usr_name ?></td>
                <td><?php echo $usr->usr_lastname ?>   </td>
                <td><?php echo $usr->usr_email ?>   </td>
                <td>

                    <?php  if( $this->user->usr_type == 'ROOT') :?>
                    <a class="btn small" href="<?php echo $this->url(array('controller' => 'cmsuser', 'action' => 'block', 'id' => $usr->usr_id), null,true); ?>">
                        <?php if ($usr->usr_active==1) echo 'Blokuj'; else echo 'Odblokuj' ?>
                    </a>

<!--                    <a class="btn small" href="--><?php //echo $this->url(array('controller' => 'cmsuser', 'action' => 'editdata', 'id' => $usr->usr_id), null,true); ?><!--">-->
<!--                       Edytuj-->
<!--                    </a>-->
                    <?php endif; ?>


                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>

</div>


