<div class="grid flex">
    <table cellspacing="0" cellpadding="0" class="table ">
        <thead>
            <tr>
                <th>Ceneo ID</th>
                <th>Typ</th>
                <th>Marka</th>
                <th>Model</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->list as $prd): ?>
            <tr>
                <td><?php echo $prd->prd_id ?></td>
                <td><?php echo $prd->type ?>   </td>
                <td><?php echo $prd->brand ?></td>
                <td><?php echo $prd->model ?>   </td>
                <td>
                    <div class="col-md-3">
                        <a class="button small" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'product', 'id' => $prd->prd_id), null,true); ?>">
                           <i class="fa fa-list "></i> <span>Zobacz szczegóły</span>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="button small" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'comments', 'prd_id' => $prd->prd_id), null,true); ?>">
                           <i class="fa fa-file-excel-o"></i> <span>Pobierz CSV</span>
                        </a>
                    </div>

                     <div class="col-md-6" style="text-align: right;">
                        <a class="button small" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'delete', 'prd_id' => $prd->prd_id), null,true); ?>">
                           <i class="fa fa-times"></i> <span>Usuń wszystkie opinie</span>
                        </a>
                     </div>


                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>

</div>