<div class="grid flex">
    <div class="row">
        <div class="col-md-12">
            <h3 class="box-title"><?php echo $this->product->brand . " " . $this->product->model?></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane szczegółowe</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body tableFixed">
                    <div>
                        <div><b>Marka:</b> <?php echo $this->product->brand?> </div>
                        <div><b>Model:</b> <?php echo $this->product->model?> </div>
                        <div><b>Typ:</b> <?php echo $this->product->type ?> </div>
                    </div>
                    <?php echo strip_tags($this->product->specs,'<br><table><tr><td><th><tbody><thead><h3>') ?>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Opinie i recenzje</h3>
        </div>

    </div>

    <div class="row">
        <?php $doubleRow=0; ?>
        <?php foreach ($this->opinions as $o) : ?>
        <?php
            if ($doubleRow == 0) {
                echo "<div class='row' style='margin:0;'>";
            }
            $doubleRow++;
        ?>

        <div class="col-sm-4">

            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Autor:
                        <?php
                            echo $o->author;
                            if($o->possesion) {
                                echo " (posiada produkt)";
                            }
                        ?>

                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body tableFixed">

                    <div class="row">
                        <div class="col-sm-12" style="padding: 0 20px 20px;">
                            Opinia: <?php echo $o->text; ?>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Data dodania:</td>
                            <td><?php echo $o->getDate() ?></td>
                        </tr>
                        <tr>
                            <td>Zalety</td>
                            <td style='color:green'><?php echo $o->advantage ?></td>
                        </tr>
                        <tr>
                            <td>Wady</td>
                            <td style='color:red'><?php echo $o->disadvantage ?></td>
                        </tr>
                        <tr>
                            <td>Rekomendacja</td>
                            <td>
                                <?php
                                    if($o->recommend == "Polecam"){
                                        echo "<div style='color:green'>";
                                    } else {
                                        echo "<div style='color:red'>";
                                    }
                                ?>
                                <?php echo $o->recommend ?>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>Ocena produktu</td>
                            <td><?php echo $o->rate ?></td>
                        </tr>

                        <tr>
                            <td>Opinia przydatna (like)</td>
                            <td><?php echo $o->vote_yes ?></td>
                        </tr>
                        <tr>
                            <td>Opinia nieprzydatna (unlike)</td>
                            <td><?php echo $o->vote_no ?></td>
                        </tr>

                    </table>

                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <?php
            if($doubleRow == 3) {
                echo "</div>";
                $doubleRow=0;
            }
        ?>

        <?php endforeach; ?>
    </div>
</div>


