<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Projekt ETL</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Projekt ETL</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
        <!-- Sidebar toggle button-->
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
            <li <?php if ($this->menu == 'index'): ?> class="active"  <?php endif; ?>>
                <a href="/">
                    <i class="fa fa-search"></i> <span>Wyszukaj produkt</span>
                </a>

            </li>

            <li <?php if ($this->menu == 'produkty'): ?> class="active"  <?php endif; ?>>
                <a href="<?php echo $this->url(array('controller'=> 'product', 'action' => 'index')) ?>">
                    <i class="fa fa-database"></i> <span>Produkty</span>
                </a>

            </li>


            <li>
                <a style="float:right;" href="/auth/logout"><i class="fa fa-sign-out"></i> Wyloguj</a>
            </li>

        </ul>

    </nav>
</header>
